{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row pt-4">
            <div class="col">
                <h1 class="text-center">You can build the following counters</h1>
                <p class="text-center">The following fighters are strong against certain waves. This is calculated based on attack and armor types</p>
            </div>
        </div>
        <div class="row gy-2 justify-content-around">
            {% for waveMatchup in waveMatchups %}
                <div class="col-6 px-3">
                    <div class="row align-items-center pb-2">
                        <div class="col-auto">
                            <h2 class="mb-0">Wave {{ waveMatchup.wave.waveNumber }}: {{ waveMatchup.wave.unit.name }}</h2>
                        </div>
                        <div class="col-auto">
                            <div>
                                <img width="30px" height="30px" alt="{{ waveMatchup.wave.unit.description }}" src="https://cdn.legiontd2.com/{{ waveMatchup.wave.unit.iconPath }}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for matchup in waveMatchup.matchups %}
                            <div class="col-auto pb-2">
                                <div class="d-flex flex-column align-items-center">
                                    <img class="border border-primary rounded" alt="{{ matchup.attackingUnit.description }}" src="https://cdn.legiontd2.com/{{ matchup.attackingUnit.iconPath }}" />
                                    <span class="text-center mt-1">{{ matchup.attackingUnit.name }}</span>
                                    <span class="badge badge-pill bg-success" data-toggle="tooltip" title="Attack {{ matchup.formattedAttackModifier }} Defense {{ matchup.formattedDefenseModifier }}">
                                        {{ matchup.formattedTotalModifier }}
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-3">
                                <span>No counters</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
