{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row pt-4">
            <h1 class="text-center">You can build the following counters</h1>
            <p class="text-center">The following mercenaries are strong against your opponent based on their attack and armor types</p>
        </div>
        <div class="row gy-2 justify-content-around">
            {% for fighterCounter in fighterCounters %}
                <div class="col-12 px-3">
                    <div class="row align-items-center pb-2">
                        <div class="col-auto">
                            <h2 class="mb-0">{{ fighterCounter.fighter.name }}</h2>
                        </div>
                        <div class="col">
                            <div>
                                <img width="30px" height="30px" alt="{{ fighterCounter.fighter.description }}" src="https://cdn.legiontd2.com/{{ fighterCounter.fighter.iconPath }}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for counter in fighterCounter.counters %}
                            <div class="col-1 px-1">
                                <div class="d-flex flex-column align-items-center">
                                    <img width="60px" height="60px" class="border border-primary rounded" alt="{{ counter.attackingUnit.description }}" src="https://cdn.legiontd2.com/{{ counter.attackingUnit.iconPath }}" />
                                    <span class="text-center mt-1">{{ counter.attackingUnit.name }}</span>
                                    <span class="badge badge-pill bg-success" data-toggle="tooltip" title="Attack {{ counter.formattedAttackModifier }} Defense {{ counter.formattedDefenseModifier }}">
                                        {{ counter.formattedTotalModifier }}
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <span>No counters</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
